.tc-domain-edit(ng-controller='tcDomainEdit')
	form.form-horizontal(name='domainEditForm')
		.control-group(ng-class='domainSubmitState')
			label.control-label(for="tc-domain-edit-domain")
				| Domain
			.controls
				input(id="tc-domain-edit-domain", name='domain', ng-model='domainDetails.domain', placeholder="irc.example.com", type="text", required='', pattern="^( *)[\\S]*( *)$", ng-pattern="/^( *)[\\S]*( *)$/", ng-change='domainSubmitState = {error: false}')
		.control-group(ng-class='portSubmitState')
			label.control-label(for="tc-domain-edit-port")
				| Port
			.controls
				input(id='tc-domain-edit-port', name='port', ng-model='domainDetails.port', placeholder="6667", type="number", required='', pattern='[0-9]*', ng-pattern='/[0-9]*/', ng-change='portSubmitState = {error: false}')