.tc-server-edit(ng-controller='serverEditMain')
	form(name='serverNameForm')
		fieldset.server-name
			legend.name
				| Name
			.control-group(ng-class='nameSubmitState')
				input.server-name-input(required='',name='serverName',placeholder="name for the connection",type="text",ng-model='serverDetails.torpchat.name', pattern='{{serverNamePattern}}', ng-pattern='serverNameRegExp', ng-change='nameSubmitState={error:false}')
	.domains
		form(name='domainsForm')
			fieldset
				legend
					| Servers
				.domain-list
					.btn-group.btn-group-vertical.movebuttons.pull-left
						button.btn.up(title="move domain up in priority", ng-click='domainUp()')
							i.icon-caret-up.icon-large
						button.btn.down(title="move domain down in priority", ng-click='domainDown()')
							i.icon-caret-down.icon-large
					.btn-group.btn-group-vertical.listbuttons.pull-right
						button.btn.btn-success.add(title="add a domain", ng-click='domainAdd()')
							i.icon-plus
						button.btn.btn-danger.remove(title="delete selected domain", ng-click='domainDelete()')
							i.icon-minus
						button.btn.btn-info.edit(title="edit selected domain", ng-click='domainEdit()')
							i.icon-pencil
					label
						| Domains for {{serverEditName}}
					.control-group(ng-class='domainSubmitState')
						select.domainselect(ng-model='selectedDomain',ng-options='domain.domain for domain in serverDetails.torpchat.domains', size='2')
	form.form-horizontal.fluid(name='serverOptions')
		fieldset
			legend
				| Connection Settings
			.control-group
				.controls
					label.checkbox
						input(type="checkbox",ng-model='serverDetails.torpchat.autoRejoin')
						|  Auto Rejoin on Disconnect
			.control-group
				.controls
					label.checkbox
						input(type="checkbox",ng-model='serverDetails.server.secure')
						|  Use SSL for Server Connections
			.control-group
				.controls
					label.checkbox
						input(type="checkbox",ng-model='serverDetails.torpchat.acceptInvalidCert')
						|  Accept Invalid SSL Certificates
			.control-group
				.controls
					label
						| Favorite Channels
					input(placeholder="#Joined,#On,#Connect",type='text',ng-model='serverDetails.server.channels',ng-list='/[ ,;]/')
