.server-list(ng-controller='tcServerList')
	.btn-group.btn-group-vertical.listbuttons.pull-right
		button.btn.btn-success.add(title="add a server",ng-click='tcServerNew()')
			i.icon-plus
		button.btn.btn-danger.remove(title="delete selected server",ng-click='tcServerDelete()')
			i.icon-minus
		button.btn.btn-info.edit(title="edit selected server",ng-click='tcServerEdit()')
			i.icon-pencil
	.listwrapper
		select.serverselect(ng-model='windowScope.selectedServer', ng-options='server.torpchat.name for (name, server) in tcScope.ircServerList', size='2')
